<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data cleaning</title>
</head>
<body>
    <h1>Data cleaning</h1>

    <form action="/clean_dataframeresult" method="post">
        <label for="processing_option">Select Processing Option:</label>
        <select name="strategy" id="strategy">
            <option value="remove">Remove Rows</option>
            <option value="median">Replace with Median</option>
            <option value="mode">Replace with Mode</option>
            <option value="mean">Replace with Mean</option>
        </select>

        <br><br>

        <input type="checkbox" name="remove_duplicates" id="remove_duplicates">
        <label for="remove_duplicates">Remove Duplicates</label>

        <br><br>

        <button type="submit" name="action" value="apply">Apply</button>
        <a href="/">Back to Menu</a>
    </form>
</body>
</html>