<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Main Menu</title>
</head>
<body>
  <h1>Main Menu</h1>
  <div>
    <a href="{{ url_for('clean_dataframe') }}" class="btn btn-primary">Clean Dataset</a>
    <a href="{{ url_for('view_dataframe') }}" class="btn btn-primary">View Dataset</a>
    <a href="{{ url_for('summary_statistics') }}" class="btn btn-primary">Summary statistics</a>
    <a href="{{ url_for('regression') }}" class="btn btn-primary">Regression</a>
    <a href="{{ url_for('visualisation') }}" class="btn btn-primary">Visualization</a>
  </div>
</body>
</html>