<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression Input</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <style>
        #hyperpar_grid {
            width: 100%;
            height: 200px; 
            font-family: monospace; 
        }
    </style>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>

<body>
    <h2>Regression Model Options</h2>

    <form action="/run_regression" method="post">
        <label for="model_type">Select regression model:</label>
        <select id="model_type" name="model_type" onchange="populateHyperparamGrid()">
            <option value="linear_regression">Linear Regression</option>
            <option value="lasso">Lasso Regression</option>
            <option value="ridge">Ridge Regression</option>
            <option value="random_forest">Random Forest Regression</option>
        </select>

        <br>

        <label for="search_method">Select search strategy:</label>
        <select id="search_method" name="search_method" onchange="toggleFields()">
            <option value="none">None</option>
            <option value="grid_search">Grid Search</option>
            <option value="random_search">Random Search</option>
            <option value="bayesian_optimization">Bayesian Optimization</option>
        </select>

        <br>

        <label for="target_variable">Select target variable:</label>
        <select id="target_variable" name="target_variable">
            {% for column in df.select_dtypes(include='number').columns %}
            <option value="{{ column }}">{{ column }}</option>
            {% endfor %}
        </select>

        <br>

        <fieldset>
            <legend>Modeling numerical variables:</legend>
            {% for column in df.select_dtypes(include='number').columns %}
             <input type="checkbox" id="{{ column }}" name='features' value="{{ column }}">
             <label for="{{ column }}">{{ column }}</label>
            {% endfor %}
            <br>
            <input type="button" value="Select All" onclick="selectAllNumericalVariables()">
        </fieldset>

        <br>

        <label for="test_size">Test Size:</label>
        <input type="number" id="test_size" name="test_size" value="0.2">

        <br>

        <br>

        <label for="cv" id="cv_label" style="display:none;">Cross-validation (cv):</label>
        <input type="number" id="cv" name="cv" value="10" style="display:none;">

        <br>

        <label for="n_iter" id="n_iter_label" style="display:none;">Number of Iterations (n_iter):</label>
        <input type="number" id="n_iter" name="n_iter" value="20" style="display:none;">

        <br>

        <div id="hyperparam_grid_fields" style="display:none;">
            <label for="hyperpar_grid">Hyperparameter Grid:</label>
            <textarea id="hyperpar_grid" name="hyperpar_grid"></textarea>
        </div>

    
        <input type="submit" value="Run Regression">
        <a href="{{ url_for('menu') }}" class="btn btn-primary">Back to menu</a>
    </form>
</body>

</html>