<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHAP summary</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
  <h1>SHAP summary</h1>
  <div>
      <div id="error_plot_section">
          <img src="data:image/png;base64,{{ shap_summary }}" alt="SHAP_summary">
      </div>
      <a href="{{ url_for('menu') }}" class="btn btn-primary">Back to Menu</a>
  </div>
</body>