<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>

<body>
    <h2>Obtained Values</h2>

    <p><strong>Model Type:</strong> {{ model_type }}</p>
    <p><strong>Target Variable:</strong> {{ target }}</p>
    <p><strong>Features:</strong> {{ features }}</p>
    <p><strong>Hyperparameter Grid:</strong> {{ hyperpar_grid }}</p>
    <p><strong>Cross-Validation (CV):</strong> {{ cv }}</p>
    <p><strong>Number of Iterations (n_iter):</strong> {{ n_iter }}</p>
    <p><strong>Random State:</strong> {{ random_state }}</p>
    <p><strong>Test Size:</strong> {{ test_size }}</p>
    <p><strong>Search Method:</strong> {{ search_method }}</p>

</body>

</html>